.app {

  .display-wrapper {
    width: 100vw;
    height: 20vh;
    display: grid;
    place-items: center;

    .display {
      height: 4rem;
      width: 20rem;
      display: grid;
      place-items: center;
      border: 1px solid #333333;
      border-radius: 0.2rem;
      background-color: #f4f4f4;

      h2 {
        font-size: 2rem;
        font-weight: 300;
      }
    }
  }

  .buttons {
    width: 100vw;
    height: 10vh;
    display: grid;
    place-items: center;

    button {
      width: 8rem;
      height: 1.5rem;
      cursor: pointer;
    }
  }
}