.boards-container {
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10rem;

  .board-container {
    display: flex;
    padding: 0 4rem 0 4rem;
    gap: 0.5rem;
    position: relative;
  }
}